
.phones-logo{
    background: url(../img/fot_banner.svg) no-repeat center / cover;
    height: 100vh;
}

@media screen and (max-width:1050px) {
    .phones-logo{
        height: 90vh;
    }
}
@media screen and (max-width:960px) {
    .phones-logo{
        height: 70vh;
    }
}
@media screen and (max-width:730px) {
    .phones-logo{
        height: 50vh;
    }
}
@media screen and (max-width:500px) {
    .phones-logo{
        height: 30vh;
    }
}